[user]
	name = Rinat Shigapov
	email = rinatshigapov@gmail.com
[core]
	excludesfile = ~/.gitignore
[format]
	pretty = "%Cred%h%Creset %ad [%an]	%Cgreen%s%d%Creset"
[log]
	date = short
[alias]
	l = log --graph
	# merge master
	mm = !git log -n 1 --format='%s' master | xargs -0 git merge master -m
	d = diff --check
[svn]
	pushmergeinfo = 1
	rmdir = 1
[color]
	status = true
	interactive = true
	diff = true
[web]
	browser = chromium-browser
[http]
	postBuffer = 64M
[credential]
	helper = cache --timeout=30000
