[submodule ".vim"]
	path = .vim
	url = git@github.com:DXist/dotvim.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
