[user]
	name = Rinat Shigapov
	email = rinatshigapov@gmail.com
[core]
	excludesfile = ~/.gitignore
[format]
	pretty = "%Cred%h%Creset %ad [%an <%ae>]	%Cgreen%s%d%Creset"
[log]
	date = short
[alias]
	b = branch
	c = checkout
	d = diff
	l = log --graph
	s = status
	# merge master
	mm = !git log -n 1 --format='%s' master | xargs -0 git merge master -m
[svn]
	pushmergeinfo = 1
	rmdir = 1
[color]
	status = true
	interactive = true
	diff = true
[web]
	browser = chromium-browser
[http]
	postBuffer = 64M
[credential]
	helper = cache --timeout=30000
	branch = true
[push]
	default = current
[include]
	path = .gitconfig.local
