[user]
	name = Rinat Shigapov
	email = rinatshigapov@gmail.com
[core]
	excludesfile = ~/.gitignore
[format]
	pretty = "%Cred%h%Creset %ad [%an]	%Cgreen%s%d%Creset"
[log]
	date = short
[alias]
	l = log --graph
[svn]
	pushmergeinfo = 1
	rmdir = 1
[color]
	status = true
	interactive = true
[web]
	browser = chromium-browser
